<div class="container shadow p-3 mb-5 bg-white rounded">

  <div *ngFor="let tablet of listTabletInvoice">

    <table class="table text-center">

      <thead class="thead-light" style="background-color:#f3f3f3">
      <tr>
        <th scope="col">Tablet {{tablet.tabletId}}</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <td>item</td>
        <td>price</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tablet.itemDtos">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Sum</th>
        <th>{{tablet.sum}}€</th>
      </tr>
      </tfoot>
    </table>
  </div>


  <div class="payment-container d-grid gap-2 col-6 mx-auto">
    <h2>Total :  {{total}}€</h2>
    <button class="btn btn-primary" (click)="checkIndividualTablet()">Split</button>
    <button class="btn btn-primary" (click)="thanks()">Together</button>
  </div>


</div>


